<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/bbceebb1-216e-46f8-82c1-500bdea55db4/resourcegroups/appservice-plan/providers/Microsoft.Web/sites/sample-test-siva</ResourceId>
    <ResourceGroup>appservice-plan</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sample-test-siva.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e0cc1630-57f1-4d3e-a9dd-23d25f060818</ProjectGuid>
    <PublishUrl>https://sample-test-siva.scm.azurewebsites.net/</PublishUrl>
    <UserName>$sample-test-siva</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>